*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-bottom: 1px solid white;
  width: 100%;
  position: absolute;
  color: white;
  align-items: center;
}

.logo>img{
  width: 5rem;
}

.menu>ul{
  display: flex;
  list-style: none;
  gap: 3rem;
  text-transform: uppercase;
}

.nav{
  display: flex;
  gap: 2rem;
}

.hero{
  background-image: url("https://plus.unsplash.com/premium_photo-1675446536688-704cdcbbe44f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
  height: 60vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.7rem;
}

.content{
  padding: 5rem;
}

.filter{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
  padding-bottom: 2rem;
}

.glossary{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
}

.Card{
  background-color: rgba(236, 235, 235, 0.732);
  padding: 2rem;
  width: 45%;
}